.mainPageTitle {
    text-align: center;
}

.level2Heading {
    text-align: center;
    padding-top: 1.3em;
    padding-bottom: 1em;
}

.paragraphUnderH2 {
    padding-bottom: 2em;
    margin-left: 30%;
    margin-right: 30%;
    text-align:justify
}