.pageMainTitle {
    text-align: center; 
    margin-bottom: 2rem; 
}
.tablistContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem; 
}

.tablist {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 1rem; 
    margin-left: auto;
    margin-right: auto;
}

.tab, .activeTab {
    background: none;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center; 
    margin-right: 0.5rem; 
}

.activeTab {
    border-bottom: 2px solid #fff; 
}

.tabPanel {
    grid-row: 2; 
    display: block; 
}
