.musicTabPanel {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 1rem;
}

.musicAlbumList {
    display: flex;
    flex-direction: column;
    background-color: #333; 
}

.musicAlbum , .activeMusicAlbum {
    padding: 1rem;
    border: none;
    background: none;
    text-align: left;
    color: white;
    cursor: pointer;
}

.activeMusicAlbum {
    background-color: #666; 
}

.musicAlbumDetails {
    background-color: #222; 
    color: white; 
    padding: 1rem;
}
