.rndTabPanel {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 1rem;
    margin-left: 15%;
}

.rndTopicList {
    display: flex;
    flex-direction: column;
    background-color: #333; 
    margin-left: 15%;
}

.topic , .activeTopic {
    padding: 1rem;
    border: none;
    background: none;
    text-align: left;
    color: white;
    cursor: pointer;
}

.activeTopic {
    background-color: #666; 
}

.topicDetails {
    background-color: #222; 
    color: white; 
    padding: 1rem;
    margin-right: 15%;
}
