.mainPageTitle {
    height: 20em;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.mainPageTitle path {
    fill: none;
    stroke: white;
    stroke-width: .3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawPath 8s linear forwards;
    opacity: 0;
}


@keyframes drawPath {
    0% {
      stroke-dashoffset: 1000;
      opacity: 0;
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
      fill: white;
    }
} 


/* SECTION: first part */

.homepagePicker {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1.5em;
}

.homepageSlide {
  height: 30em;

}

.homepageSlide img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  filter: blur(1px);
}

/* on hover */
.homepageSlide img:hover {
  filter: blur(0px);
  transition: all .5s linear;
}